body{
    margin: 0;
    font-family: "arvo", sans-serif;
 }

.header{
    display: flex;
    justify-content: space-between;
    background-color:  rgb(226, 160, 17);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 20;
}
.name {
    font-size: 35px;
    color:black;
    margin-top: 10px; 
    white-space: nowrap;
    font-family: "Platypi", serif;
    margin-left: 50px;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 50px;
    align-items: end;
}
    
.menu a{
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 0;
    font-family: "roboto", sans-serif;
    margin-right: 10px;

}
.menu-icon{
    display: none;
    height: 30px;
    align-self: center;
}
.header1{
font-size: 40px;
}
.aboutcard{
background: linear-gradient( #49a171 10%, #b6c7c1  90%);
height: 700px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
position: relative;
left: 0;
right: 0;
}
.about{
width: 700px;
font-size: 18px;
text-align: center;
}


.resume-popup {
display: none;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
padding: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
z-index: 1;
border-radius: 10px;
}

.resume-popup h2 {
margin-top: 0;
color: #2c3e50;
}
.resume-popup .close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.resume-popup .close:hover,
.resume-popup .close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.close{
cursor: pointer;
}
.resumelinkk{
cursor: pointer; 
color: rgb(116, 83, 13)
}
h2{

margin-left:35%;
}

@media screen and (max-width: 600px) {
   
    .menu  {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        background: #000;
        right: 0;
        text-align: center;
        top: 70px;
        height: 20px;
        max-height:0 ;
        overflow:hidden;
        transition: max-height 0.5s;
        
    }
   
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .show-menu{
        max-height: 15px;
        margin: 0;
        padding: 10px;
    }
    .aboutcard{
    background: linear-gradient( #49a171 10%, #b6c7c1  90%);
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}
    .about{
        width: 300px;
        font-size: 13px;
        text-align: center;
        }
}
